
    <header class="header">
        <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="logo">
                        <a href="#"><img src="../../../assets/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-12">
                    <div class="list-header">
                        <div class="click-nav">
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                        </div>
                        <div class="nav">
                            <ul class="list-inline">
                                <li><a href="#"><span>كل الاخبار</span></a></li>
                                <li><a href="#"><span>الرياضة</span></a></li>
                                <li><a href="#"><span>السياحة</span></a></li>
                                <li><a href="#"><span>التعليم</span></a></li>
                                <li><a href="#"><span>الدراما</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
   <section id="demos">
      <div class="">
          <div class="slider">
             <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="slider-button">
                 <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="slider-click slider-click-too" slider-clic="1" >
                              <span>رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية</span>
                          </div>
                      </div>
                       <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="slider-click" slider-clic="2">
                              <span>رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية</span>
                          </div>
                      </div>
                       <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="slider-click" slider-clic="3">
                              <span>رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية</span>
                          </div>
                      </div>
                       <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="slider-click" slider-clic="4">
                              <span>رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية</span>
                          </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="slider-click" slider-clic="5">
                              <span>رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية</span>
                          </div>
                      </div>
                 </div>
              </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="slider-img">
                      <div class="slider-item item-it activ" img-slider="1">
                          <a href="#"><img src="../../../assets/img/AQqE8fG-9.png" alt=""></a>
                          <div class="tit-news" tit-new="1">
                              <a href="#"><P>رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية</P></a>
                          </div>
                      </div>
                      <div class="slider-item item-it " img-slider="2">
                          <a href="#"><img src="../../../assets/img/Group-1.png" alt=""></a>
                          <div class="tit-news" tit-new="2">
                              <a href="#"><P>رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية</P></a>
                          </div>
                      </div>
                      <div class="slider-item item-it" img-slider="3">
                          <a href="#"><img src="../../../assets/img/q14.png" alt=""></a>
                          <div class="tit-news" tit-new="3">
                              <a href="#"><P>رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية</P></a>
                          </div>
                      </div>
                      <div class="slider-item item-it " img-slider="4">
                          <a href="#"><img src="../../../assets/img/q194.png" alt=""></a>
                          <div class="tit-news" tit-new="4">
                              <a href="#"><P>رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية</P></a>
                          </div>
                      </div>
                      <div class="slider-item item-it" img-slider="5">
                          <a href="#"><img src="../../../assets/img/shardayyy-photography-113795.png" alt=""></a>
                          <div class="tit-news" tit-new="5">
                              <a href="#"><P>رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية رفع الحجب عن تطبيقات المكالمات منتصف الليل .. وأبوحيمد لـ "سبق": هذه هي المتطلبات التنظيمية</P></a>
                          </div>
                      </div>
                  </div>
                </div>
             </div>
          </div>
      </div>
    </section>
   <section class="section-section-news">
        <div class="container backgrou">
            <div class="row">

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div *ngFor="let item of allDetails" class="all-news-peaper">
                        <div class="titel-tit">
                               <h2 class="titill">كل الاخبار</h2>
                           </div>
                        <div  class="news-peaper">
                            <div class="news-peaper-img">
                                <a href="#"><img src="../../../assets/img/Group-1.png" alt=""></a>
                            </div>
                            <div class="news-peaper-detals">
                                <div class="news-peaper-detal">
                                    <span class="title-ne"><a href="#">{{item.id}}</a></span>
                                    <h2><a href="#"></a></h2>
                                    <div class="name-data">
                                        <a href="#">
                                            <span class="name-data-left"><span> {{item.email}}</span> 11 24, 17</span>
                                        </a>
                                        <a href="#">
                                          <!--   <span class="name-data-right"><span> </span> 156</span> -->
                                        </a>
                                    </div>
                                    <div class="discription">
                                        <p>{{item.body}}</p>
                                    </div>
                                    <div class="seting">
                                    	<button (click)="deleteItem(item.id)" class="but Delete">Delete</button>

                                    	<button (click)="editItem(item)" class="but Edit">Edit</button>
                                    </div>
                                    <div class="sououl-top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-pinterest"></i>
                                                </a>
                                            </li>
                                            <li>
                                            <a href="#">
                                                <i class="icofont icofont-brand-linkedin"></i>
                                            </a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                     <div class="all-news-peaper">
                        <div class="titel-tit">
                               <h2 class="titill"> اخبار الرياضة</h2>
                        </div>
                        <div class="news-peaper news-peaper-tow">
                            <div class="news-peaper-img news-peaper-wigth">
                                <a href="#"><img src="../../../assets/img/shardayyy-photography-113795.png" alt=""></a>
                            </div>
                            <div class="news-peaper-detals news-peaper-wigth">
                                <div class="news-peaper-detal">
                                    <h2><a href="#">منتخب مصر: محمد عبد الشافى سليم ويشارك أمام الكونغو</a></h2>
                                    <div class="name-data">
                                        <a href="#">
                                            <span class="name-data-left"><span>أحمد رزق</span> 11 24, 17</span>
                                        </a>
                                        <a href="#">
                                            <span class="name-data-right"><span> </span> 156</span>
                                        </a>
                                    </div>
                                    <div class="discription">
                                        <p>محمد عبد الشافى لاعب أهلى جدة السعودى سليم وجاهز للمشاركة مع المنتخب أمام الكونغو يوم 8 أكتوبر فى تصفيات كأس العالم.</p>
                                    </div>
                                    <div class="sououl-top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-pinterest"></i>
                                                </a>
                                            </li>
                                            <li>
                                            <a href="#">
                                                <i class="icofont icofont-brand-linkedin"></i>
                                            </a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-peaper news-peaper-tow">
                            <div class="news-peaper-img news-peaper-wigth">
                                <a href="#"><img src="../../../assets/img/q14.png" alt=""></a>
                            </div>
                            <div class="news-peaper-detals news-peaper-wigth">
                                <div class="news-peaper-detal">
                                    <h2><a href="#">منتخب مصر: محمد عبد الشافى سليم ويشارك أمام الكونغو</a></h2>
                                    <div class="name-data">
                                        <a href="#">
                                            <span class="name-data-left"><span>أحمد رزق</span> 11 24, 17</span>
                                        </a>
                                        <a href="#">
                                            <span class="name-data-right"><span> </span> 156</span>
                                        </a>
                                    </div>
                                    <div class="discription">
                                        <p>محمد عبد الشافى لاعب أهلى جدة السعودى سليم وجاهز للمشاركة مع المنتخب أمام الكونغو يوم 8 أكتوبر فى تصفيات كأس العالم.</p>
                                    </div>
                                    <div class="sououl-top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-pinterest"></i>
                                                </a>
                                            </li>
                                            <li>
                                            <a href="#">
                                                <i class="icofont icofont-brand-linkedin"></i>
                                            </a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-peaper news-peaper-tow">
                            <div class="news-peaper-img news-peaper-wigth">
                                <a href="#"><img src="../../../assets/img/AQqE8fG-9.png" alt=""></a>
                            </div>
                            <div class="news-peaper-detals news-peaper-wigth">
                                <div class="news-peaper-detal">
                                    <h2><a href="#">منتخب مصر: محمد عبد الشافى سليم ويشارك أمام الكونغو</a></h2>
                                    <div class="name-data">
                                        <a href="#">
                                            <span class="name-data-left"><span>أحمد رزق</span> 11 24, 17</span>
                                        </a>
                                        <a href="#">
                                            <span class="name-data-right"><span> </span> 156</span>
                                        </a>
                                    </div>
                                    <div class="discription">
                                        <p>محمد عبد الشافى لاعب أهلى جدة السعودى سليم وجاهز للمشاركة مع المنتخب أمام الكونغو يوم 8 أكتوبر فى تصفيات كأس العالم.</p>
                                    </div>
                                    <div class="sououl-top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-pinterest"></i>
                                                </a>
                                            </li>
                                            <li>
                                            <a href="#">
                                                <i class="icofont icofont-brand-linkedin"></i>
                                            </a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-peaper news-peaper-tow">
                            <div class="news-peaper-img news-peaper-wigth">
                                <a href="#"><img src="../../../assets/img/q194.png" alt=""></a>
                            </div>
                            <div class="news-peaper-detals news-peaper-wigth">
                                <div class="news-peaper-detal">
                                    <h2><a href="#">منتخب مصر: محمد عبد الشافى سليم ويشارك أمام الكونغو</a></h2>
                                    <div class="name-data">
                                        <a href="#">
                                            <span class="name-data-left"><span>أحمد رزق</span> 11 24, 17</span>
                                        </a>
                                        <a href="#">
                                            <span class="name-data-right"><span> </span> 156</span>
                                        </a>
                                    </div>
                                    <div class="discription">
                                        <p>محمد عبد الشافى لاعب أهلى جدة السعودى سليم وجاهز للمشاركة مع المنتخب أمام الكونغو يوم 8 أكتوبر فى تصفيات كأس العالم.</p>
                                    </div>
                                    <div class="sououl-top">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont icofont-social-pinterest"></i>
                                                </a>
                                            </li>
                                            <li>
                                            <a href="#">
                                                <i class="icofont icofont-brand-linkedin"></i>
                                            </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
 -->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <section class="sid-bar-section">
                        <div class="sid-bar-section">
                        	<div class="get-even-more">
                               <i class="fa fa-envelope-o ico-position" aria-hidden="true"></i>
                                <h3>اضافه خبر</h3>
                               
                                <form action="" (submit)="addNews(editpst)">
                                	
                                    <input [(ngModel)]="postNews.email" 
									 id="email" name="email"
                                    type="text" placeholder=" عنوان الخبر">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>	
                                    <div class="form-group">
                                    	<textarea  [(ngModel)]="postNews.body"
										id="body" name="body"
                                    	 placeholder="اكتب الخبر"></textarea>
                                    </div>
                                    <button type="submit">اضافه</button>                                    
                                </form>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="stry-connect">
                                <div class="titel-tit">
                                   <h2 class="titill">التواصل</h2>
                               </div>
                               <div class="stry-connect-ul">
                                   <ul class="list-inline">
                                       <li class="ico-facebook">
                                           <a href="#">
                                               <span class="span-icon">
                                                   <i class="icofont icofont-social-facebook"></i>
                                               </span>
                                               <span class="span-write">
                                                   <span class="num-count">203.1K</span>
                                                   <span class="text-count">صديق</span>
                                               </span>
                                           </a>
                                       </li>
                                       <li class="ico-twitter">
                                           <a href="#">
                                               <span class="span-icon">
                                                   <i class="icofont icofont-social-twitter"></i>
                                               </span>
                                               <span class="span-write">
                                                   <span class="num-count">883.1K</span>
                                                   <span class="text-count">متابعة</span>
                                               </span>
                                           </a>
                                       </li>
                                       <li class="ico-pinterest">
                                           <a href="#">
                                               <span class="span-icon">
                                                   <i class="icofont icofont-social-pinterest"></i>
                                               </span>
                                               <span class="span-write">
                                                   <span class="num-count">883.1K</span>
                                                   <span class="text-count">متابعة</span>
                                               </span>
                                           </a>
                                       </li>
                                       <li class="ico-pinterest">
                                           <a href="#">
                                               <span class="span-icon">
                                                   <i class="icofont icofont-brand-linkedin"></i>
                                               </span>
                                               <span class="span-write">
                                                   <span class="num-count">87.1K</span>
                                                   <span class="text-count">صديق</span>
                                               </span>
                                           </a>
                                       </li>
                                       
                                   </ul>
                               </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="hokok">
                        <p><a href="https://www.facebook.com/A7medRizk96">Rezk Beh</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-footer">
                        <ul class="list-inline">
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-pinterest"></i>
                                </a>
                            </li>
                            <li>
                            <a href="#">
                                <i class="icofont icofont-brand-linkedin"></i>
                            </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>